<a href="https://colab.research.google.com/github/Ademide-Ade/Adewale-Ademide-HDSC/blob/master/Hamoye_stage_d_image_classification_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### Importing Data Preprocessing Python Libraries

In [ ]:
import numpy as np
import pandas as pd

### Reading the Train Dataset to a DataFrame and Shape Correspondence

In [ ]:
train_class_df = pd.read_csv('../input/planets-dataset/planet/planet/train_classes.csv')
train_class_df.head()

  image_name                                       tags
0    train_0                               haze primary
1    train_1            agriculture clear primary water
2    train_2                              clear primary
3    train_3                              clear primary
4    train_4  agriculture clear habitation primary road

In [ ]:
train = !ls ../input/planets-dataset/planet/planet/train-jpg | wc -l

In [ ]:
train_class_df.shape

(40479, 2)

In [ ]:
assert train_class_df.shape[0] == float(train[0])

### Reading the Test Dataset to a DataFrame & Shape Correspondence

In [ ]:
sample_sub_df = pd.read_csv('../input/planets-dataset/planet/planet/sample_submission.csv')
sample_sub_df.head()

  image_name                                  tags
0     test_0  primary clear agriculture road water
1     test_1  primary clear agriculture road water
2     test_2  primary clear agriculture road water
3     test_3  primary clear agriculture road water
4     test_4  primary clear agriculture road water

In [ ]:
test1 = !ls ../input/planets-dataset/planet/planet/test-jpg | wc -l
test2 = !ls ../input/planets-dataset/test-jpg-additional/test-jpg-additional | wc -l

In [ ]:
test1

['40669']

In [ ]:
test2

['20522']

In [ ]:
[40669 + 20522]

[61191]

In [ ]:
sample_sub_df.shape

(61191, 2)

In [ ]:
assert sample_sub_df.shape[0] == float(test1[0])+float(test2[0])

### Identifing Training Set Unique Labels With Encoding

In [ ]:
tags = list(train_class_df['tags'])
unique_train_tag = set()
for tag in tags:
    for name in tag.split():
        unique_train_tag.add(name)
unique_train_tag = list(unique_train_tag)
print(len(unique_train_tag))
print(unique_train_tag)

17
['cloudy', 'haze', 'agriculture', 'clear', 'artisinal_mine', 'road', 'blooming', 'habitation', 'partly_cloudy', 'primary', 'bare_ground', 'water', 'slash_burn', 'blow_down', 'selective_logging', 'cultivation', 'conventional_mine']

In [ ]:
train_class = train_class_df
train_class['image_name'].unique()

array(['train_0', 'train_1', 'train_2', ..., 'train_40476', 'train_40477',
       'train_40478'], dtype=object)

In [ ]:
assert len(train_class['image_name'].unique()) == train_class.shape[0]

In [ ]:
# Using one hot encoding (vectorizationing) the labels in 'train_class'
for tag in unique_train_tag:
    train_class[tag] = train_class['tags'].apply(lambda x: 1 if tag in x.split() else 0)
train_class.head()

,image_name,tags,cloudy,haze,agriculture,clear,artisinal_mine,road,blooming,habitation,partly_cloudy,primary,bare_ground,water,slash_burn,blow_down,selective_logging,cultivation,conventional_mine
0,train_0,haze primary,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,train_1,agriculture clear primary water,0,0,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0
2,train_2,clear primary,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
3,train_3,clear primary,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
4,train_4,agriculture clear habitation primary road,0,0,1,1,0,1,0,1,0,1,0,0,0,0,0,0,0

In [ ]:
# Making the image name carry '.jpg' extension
train_class['image_name'] = train_class['image_name'].apply(lambda x: '{}.jpg'.format(x)) 
train_class.head()

,image_name,tags,cloudy,haze,agriculture,clear,artisinal_mine,road,blooming,habitation,partly_cloudy,primary,bare_ground,water,slash_burn,blow_down,selective_logging,cultivation,conventional_mine
0,train_0.jpg,haze primary,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,train_1.jpg,agriculture clear primary water,0,0,1,1,0,0,0,0,0,1,0,1,0,0,0,0,0
2,train_2.jpg,clear primary,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
3,train_3.jpg,clear primary,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
4,train_4.jpg,agriculture clear habitation primary road,0,0,1,1,0,1,0,1,0,1,0,0,0,0,0,0,0

### Identifing Testing Set Unique Labels With Encoding

In [ ]:
tags = list(sample_sub_df['tags'])
unique_test_tag = set()
for tag in tags:
    for name in tag.split():
        unique_test_tag.add(name)
unique_test_tag = list(unique_test_tag)
print(len(unique_test_tag))
print(unique_test_tag)

5
['agriculture', 'clear', 'road', 'primary', 'water']

In [ ]:
test_class = sample_sub_df
test_class['image_name'].unique()

array(['test_0', 'test_1', 'test_2', ..., 'file_9997', 'file_9998',
       'file_9999'], dtype=object)

In [ ]:
assert len(test_class['image_name'].unique()) == test_class.shape[0]

In [ ]:
# Using one hot encoding (vectorizationing) the labels in 'test_class'
for tag in unique_test_tag:
    test_class[tag] = test_class['tags'].apply(lambda x: 1 if tag in x.split() else 0)
test_class.sample(30)

,image_name,tags,agriculture,clear,road,primary,water
39998,test_39998,primary clear agriculture road water,1,1,1,1,1
30770,test_30770,primary clear agriculture road water,1,1,1,1,1
16200,test_16200,primary clear agriculture road water,1,1,1,1,1
52292,file_20458,primary clear agriculture road water,1,1,1,1,1
16407,test_16407,primary clear agriculture road water,1,1,1,1,1
55550,file_4921,primary clear agriculture road water,1,1,1,1,1
41507,file_10751,primary clear agriculture road water,1,1,1,1,1
15204,test_15204,primary clear agriculture road water,1,1,1,1,1
27079,test_27079,primary clear agriculture road water,1,1,1,1,1
26131,test_26131,primary clear agriculture road water,1,1,1,1,1
25925,test_25925,primary clear agriculture road water,1,1,1,1,1
28044,test_28044,primary clear agriculture road water,1,1,1,1,1
2269,test_2269,primary clear agriculture road water,1,1,1,1,1
45661,file_14490,primary clear agriculture road water,1,1,1,1,1
8646,test_8646,primary clear agriculture road water,1,1,1,1,1
27131,test_27131,primary clear agriculture road water,1,1,1,1,1
50591,file_18928,primary clear agriculture road water,1,1,1,1,1
46702,file_15427,primary clear agriculture road water,1,1,1,1,1
60277,file_9176,primary clear agriculture road water,1,1,1,1,1
40786,file_10101,primary clear agriculture road water,1,1,1,1,1
3258,test_3258,primary clear agriculture road water,1,1,1,1,1
47478,file_16125,primary clear agriculture road water,1,1,1,1,1
53672,file_3230,primary clear agriculture road water,1,1,1,1,1
59297,file_8294,primary clear agriculture road water,1,1,1,1,1
24092,test_24092,primary clear agriculture road water,1,1,1,1,1
45082,file_1397,primary clear agriculture road water,1,1,1,1,1
55993,file_532,primary clear agriculture road water,1,1,1,1,1
28634,test_28634,primary clear agriculture road water,1,1,1,1,1
54481,file_396,primary clear agriculture road water,1,1,1,1,1
15580,test_15580,primary clear agriculture road water,1,1,1,1,1

In [ ]:
# Making the image name carry '.jpg' extension
test_class['image_name'] = test_class['image_name'].apply(lambda x: '{}.jpg'.format(x)) 
test_class.head()

,image_name,tags,agriculture,clear,road,primary,water
0,test_0.jpg,primary clear agriculture road water,1,1,1,1,1
1,test_1.jpg,primary clear agriculture road water,1,1,1,1,1
2,test_2.jpg,primary clear agriculture road water,1,1,1,1,1
3,test_3.jpg,primary clear agriculture road water,1,1,1,1,1
4,test_4.jpg,primary clear agriculture road water,1,1,1,1,1

### Modelling Preparation

In [ ]:
import tensorflow as tf

In [ ]:
# storing the tags/labels column names as a variable
y_col = list(train_class.columns[2:])

# initializing an image generator with some data augumentation stardardise the data
from tensorflow import keras
from keras.preprocessing.image import ImageDataGenerator
image_gen = ImageDataGenerator(rescale=1/255)

# loading images from dataframe
X = image_gen.flow_from_dataframe(dataframe=train_class, \
        directory='/kaggle/input/planets-dataset/planet/planet/train-jpg/', x_col='image_name', y_col=y_col, \
       target_size=(128, 128), class_mode='raw', seed=1, batch_size=131)

Found 40479 validated image filenames.

In [ ]:
# X is an iterable, It contains 309 batches, each batch contains 131 images and labels because 
#40479 / 131 is 309 each image is of shape (128, 128, 3), each label is of shape (17, )

# let's abitrarily view an image
x109 = X[0][0][109] # first batch, images, 109th image
y109 = X[0][1][109] # first batch, labels, 109th label
print("The image's shape is {}".format(x109.shape))
print("The label's shape is {}".format(y109.shape))
print('The batches it ran; {} batches'.format(len(X)))
print('Each batch has {} images/labels'.format(X[0][0].shape[0]))
print('40479/131 is {}, so the last batch will have {} images/labels'.format(40479/131, X[308][0].shape[0]))

The image's shape is (128, 128, 3)
The label's shape is (17,)
The batches it ran; 309 batches
Each batch has 131 images/labels
40479/131 is 309.0, so the last batch will have 131 images/labels

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Flatten, BatchNormalization, Conv2D
from tensorflow.keras.optimizers import Adam, RMSprop
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

### Definition of Metrics and Evalution Model

In [ ]:
# calculate fbeta score for multi-class/label classification
def fbeta(y_true, y_pred, beta=2):
    # clip predictions
    y_pred = backend.clip(y_pred, 0, 1)
    # calculate elements
    tp = backend.sum(backend.round(backend.clip(y_true * y_pred, 0, 1)), axis=1)
    fp = backend.sum(backend.round(backend.clip(y_pred - y_true, 0, 1)), axis=1)
    fn = backend.sum(backend.round(backend.clip(y_true - y_pred, 0, 1)), axis=1)
    # calculate precision
    p = tp / (tp + fp + backend.epsilon())
    # calculate recall
    r = tp / (tp + fn + backend.epsilon())
    # calculate fbeta, averaged across each class
    bb = beta ** 2
    fbeta_score = backend.mean((1 + bb) * (p * r) / (bb * p + r + backend.epsilon()))
    return fbeta_score

In [ ]:
def multi_label_acc(ytrue , ypred, epsilon=1e-3):
    
    ytrue = tf.cast(ytrue, tf.float32)
    ypred = tf.cast(tf.greater(tf.cast(ypred, tf.float32), tf.constant(0.5)), tf.float32)
    
    tp = tf.reduce_sum(ytrue * ypred, axis=1)
    fp = tf.reduce_sum(ypred, axis=1) - tp
    fn = tf.reduce_sum(ytrue, axis=1) - tp
    
    ytrue = tf.cast(ytrue, tf.bool)
    ypred = tf.cast(ypred, tf.bool)
    
    tn = tf.reduce_sum(tf.cast(tf.logical_not(ytrue), tf.float32) * tf.cast(tf.logical_not(ypred), tf.float32),\
                       axis=1)
    
    return (tp+tn)/(tp+tn+fp+fn+epsilon)

In [ ]:
def define_model(in_shape=(128, 128, 3), out_shape=17):
    model = Sequential()
    model.add(Conv2D(32, (3, 3), activation='relu', kernel_initializer='he_uniform', padding='same', input_shape=in_shape))
    model.add(Conv2D(32, (3, 3), activation='relu', kernel_initializer='he_uniform', padding='same'))
    model.add(MaxPooling2D((2, 2)))
    model.add(Conv2D(64, (3, 3), activation='relu', kernel_initializer='he_uniform', padding='same'))
    model.add(Conv2D(64, (3, 3), activation='relu', kernel_initializer='he_uniform', padding='same'))
    model.add(MaxPooling2D((2, 2)))
    model.add(Dropout(0.3))
    model.add(Conv2D(128, (3, 3), activation='relu', kernel_initializer='he_uniform', padding='same'))
    model.add(Conv2D(128, (3, 3), activation='relu', kernel_initializer='he_uniform', padding='same'))
    model.add(MaxPooling2D((2, 2)))
    model.add(Conv2D(256, (3, 3), activation='relu', kernel_initializer='he_uniform', padding='same'))
    model.add(Conv2D(256, (3, 3), activation='relu', kernel_initializer='he_uniform', padding='same'))
    model.add(MaxPooling2D((2, 2)))
    model.add(Dropout(0.3))
    model.add(Conv2D(512, (3, 3), activation='relu', kernel_initializer='he_uniform', padding='same'))
    model.add(Conv2D(512, (3, 3), activation='relu', kernel_initializer='he_uniform', padding='same'))
    model.add(MaxPooling2D((2, 2)))
    model.add(Conv2D(1024, (3, 3), activation='relu', kernel_initializer='he_uniform', padding='same'))
    model.add(Conv2D(1024, (3, 3), activation='relu', kernel_initializer='he_uniform', padding='same'))
    model.add(MaxPooling2D((2, 2)))
    model.add(Dropout(0.3))
    model.add(Flatten())
    model.add(Dense(128, activation='relu', kernel_initializer='he_uniform'))
    model.add(Dense(out_shape, activation='sigmoid'))
    # compile model
    opt = SGD(lr=0.01, momentum=0.9)
    model.compile(optimizer=opt, loss='binary_crossentropy', metrics=['accuracy',fbeta, multi_label_acc])
    return model

In [ ]:
save_check_point = ModelCheckpoint(filepath='model_resp.hdf5', monitor='val_fbeta', \
                                        mode='max', save_best_only=True, save_weights_only=True)

### Data Augmentation for the Train Set

In [ ]:
train_image_gen = ImageDataGenerator(rescale=1/255,validation_split=0.15)

# generating the 85% training image data
train_gen = train_image_gen.flow_from_dataframe(dataframe=train_class, \
        directory='../input/planets-dataset/planet/planet/train-jpg/', x_col='image_name', y_col=y_col, \
       target_size=(128, 128), class_mode='raw', seed=0, batch_size=131, subset='training')

# generating the 15% validation image data
val_gen = train_image_gen.flow_from_dataframe(dataframe=train_class, \
        directory='../input/planets-dataset/planet/planet/train-jpg/', x_col='image_name', y_col=y_col, \
       target_size=(128, 128), class_mode='raw', seed=0, batch_size=131, subset='validation')

Found 34408 validated image filenames.
Found 6071 validated image filenames.

In [ ]:
# setting step size for training and validation image data
train_step_size = int(np.ceil(train_gen.samples / train_gen.batch_size))
valid_step_size = int(np.ceil(val_gen.samples / val_gen.batch_size))

In [ ]:
train_step_size + valid_step_size

310

#### Ensure you turn on GPU to run this session

In [ ]:
from keras.preprocessing.image import ImageDataGenerator
from keras.models import Model
from keras.layers import Dense
from keras.layers import Flatten
from keras.optimizers import SGD
from tensorflow.keras.layers import Dropout
from keras.layers import MaxPooling2D
from keras import backend

### Training and Fitting the Defined model

In [ ]:
model = define_model() # building a sequential model for training

# fitting the model
history = model.fit_generator(train_gen, steps_per_epoch = train_step_size, validation_data = val_gen, validation_steps = valid_step_size,
          epochs = 100, callbacks = save_check_point)

Epoch 1/100
263/263 [==============================] - 166s 632ms/step - loss: 0.2448 - accuracy: 0.0020 - fbeta: 0.6311 - multi_label_acc: 0.9054 - val_loss: 0.2485 - val_accuracy: 0.0132 - val_fbeta: 0.6666 - val_multi_label_acc: 0.9130
Epoch 2/100
263/263 [==============================] - 112s 426ms/step - loss: 0.2172 - accuracy: 0.0223 - fbeta: 0.6715 - multi_label_acc: 0.9143 - val_loss: 0.2246 - val_accuracy: 0.0313 - val_fbeta: 0.6958 - val_multi_label_acc: 0.9164
Epoch 3/100
263/263 [==============================] - 113s 428ms/step - loss: 0.2025 - accuracy: 0.0419 - fbeta: 0.7125 - multi_label_acc: 0.9202 - val_loss: 0.2047 - val_accuracy: 0.0558 - val_fbeta: 0.7294 - val_multi_label_acc: 0.9239
Epoch 4/100
263/263 [==============================] - 111s 421ms/step - loss: 0.1892 - accuracy: 0.0533 - fbeta: 0.7426 - multi_label_acc: 0.9257 - val_loss: 0.1862 - val_accuracy: 0.0794 - val_fbeta: 0.7596 - val_multi_label_acc: 0.9289
Epoch 5/100
263/263 [==============================] - 112s 425ms/step - loss: 0.1776 - accuracy: 0.0660 - fbeta: 0.7627 - multi_label_acc: 0.9299 - val_loss: 0.1794 - val_accuracy: 0.0812 - val_fbeta: 0.7813 - val_multi_label_acc: 0.9298
Epoch 6/100
263/263 [==============================] - 111s 422ms/step - loss: 0.1687 - accuracy: 0.0768 - fbeta: 0.7761 - multi_label_acc: 0.9330 - val_loss: 0.1664 - val_accuracy: 0.1118 - val_fbeta: 0.7833 - val_multi_label_acc: 0.9347
Epoch 7/100
263/263 [==============================] - 113s 430ms/step - loss: 0.1603 - accuracy: 0.0904 - fbeta: 0.7899 - multi_label_acc: 0.9367 - val_loss: 0.1577 - val_accuracy: 0.1333 - val_fbeta: 0.7963 - val_multi_label_acc: 0.9372
Epoch 8/100
263/263 [==============================] - 111s 423ms/step - loss: 0.1545 - accuracy: 0.0952 - fbeta: 0.7973 - multi_label_acc: 0.9387 - val_loss: 0.1575 - val_accuracy: 0.1087 - val_fbeta: 0.7945 - val_multi_label_acc: 0.9380
Epoch 9/100
263/263 [==============================] - 111s 421ms/step - loss: 0.1521 - accuracy: 0.0992 - fbeta: 0.7998 - multi_label_acc: 0.9395 - val_loss: 0.1505 - val_accuracy: 0.1601 - val_fbeta: 0.8223 - val_multi_label_acc: 0.9407
Epoch 10/100
263/263 [==============================] - 113s 429ms/step - loss: 0.1478 - accuracy: 0.1036 - fbeta: 0.8067 - multi_label_acc: 0.9412 - val_loss: 0.1487 - val_accuracy: 0.1418 - val_fbeta: 0.8056 - val_multi_label_acc: 0.9416
Epoch 11/100
263/263 [==============================] - 113s 429ms/step - loss: 0.1441 - accuracy: 0.1039 - fbeta: 0.8113 - multi_label_acc: 0.9426 - val_loss: 0.1535 - val_accuracy: 0.1608 - val_fbeta: 0.7997 - val_multi_label_acc: 0.9402
Epoch 12/100
263/263 [==============================] - 115s 438ms/step - loss: 0.1416 - accuracy: 0.1039 - fbeta: 0.8140 - multi_label_acc: 0.9437 - val_loss: 0.1422 - val_accuracy: 0.1249 - val_fbeta: 0.8217 - val_multi_label_acc: 0.9446
Epoch 13/100
263/263 [==============================] - 110s 419ms/step - loss: 0.1395 - accuracy: 0.1051 - fbeta: 0.8174 - multi_label_acc: 0.9443 - val_loss: 0.1421 - val_accuracy: 0.1306 - val_fbeta: 0.8231 - val_multi_label_acc: 0.9448
Epoch 14/100
263/263 [==============================] - 111s 423ms/step - loss: 0.1369 - accuracy: 0.1008 - fbeta: 0.8210 - multi_label_acc: 0.9452 - val_loss: 0.1384 - val_accuracy: 0.1260 - val_fbeta: 0.8289 - val_multi_label_acc: 0.9458
Epoch 15/100
263/263 [==============================] - 109s 415ms/step - loss: 0.1346 - accuracy: 0.1044 - fbeta: 0.8239 - multi_label_acc: 0.9459 - val_loss: 0.1364 - val_accuracy: 0.1402 - val_fbeta: 0.8275 - val_multi_label_acc: 0.9461
Epoch 16/100
263/263 [==============================] - 110s 420ms/step - loss: 0.1336 - accuracy: 0.1006 - fbeta: 0.8267 - multi_label_acc: 0.9466 - val_loss: 0.1349 - val_accuracy: 0.1102 - val_fbeta: 0.8317 - val_multi_label_acc: 0.9463
Epoch 17/100
263/263 [==============================] - 115s 436ms/step - loss: 0.1308 - accuracy: 0.0990 - fbeta: 0.8308 - multi_label_acc: 0.9474 - val_loss: 0.1396 - val_accuracy: 0.1130 - val_fbeta: 0.8387 - val_multi_label_acc: 0.9452
Epoch 18/100
263/263 [==============================] - 112s 425ms/step - loss: 0.1291 - accuracy: 0.0981 - fbeta: 0.8327 - multi_label_acc: 0.9479 - val_loss: 0.1310 - val_accuracy: 0.1250 - val_fbeta: 0.8410 - val_multi_label_acc: 0.9482
Epoch 19/100
263/263 [==============================] - 113s 431ms/step - loss: 0.1279 - accuracy: 0.0960 - fbeta: 0.8357 - multi_label_acc: 0.9486 - val_loss: 0.1317 - val_accuracy: 0.1189 - val_fbeta: 0.8433 - val_multi_label_acc: 0.9469
Epoch 20/100
263/263 [==============================] - 113s 431ms/step - loss: 0.1273 - accuracy: 0.0976 - fbeta: 0.8358 - multi_label_acc: 0.9486 - val_loss: 0.1379 - val_accuracy: 0.0774 - val_fbeta: 0.8326 - val_multi_label_acc: 0.9442
Epoch 21/100
263/263 [==============================] - 113s 429ms/step - loss: 0.1261 - accuracy: 0.0937 - fbeta: 0.8386 - multi_label_acc: 0.9491 - val_loss: 0.1265 - val_accuracy: 0.1184 - val_fbeta: 0.8485 - val_multi_label_acc: 0.9505
Epoch 22/100
263/263 [==============================] - 112s 424ms/step - loss: 0.1245 - accuracy: 0.0972 - fbeta: 0.8408 - multi_label_acc: 0.9497 - val_loss: 0.1321 - val_accuracy: 0.1286 - val_fbeta: 0.8341 - val_multi_label_acc: 0.9484
Epoch 23/100
263/263 [==============================] - 112s 427ms/step - loss: 0.1233 - accuracy: 0.0960 - fbeta: 0.8422 - multi_label_acc: 0.9501 - val_loss: 0.1272 - val_accuracy: 0.1479 - val_fbeta: 0.8439 - val_multi_label_acc: 0.9493
Epoch 24/100
263/263 [==============================] - 111s 422ms/step - loss: 0.1226 - accuracy: 0.0954 - fbeta: 0.8437 - multi_label_acc: 0.9507 - val_loss: 0.1242 - val_accuracy: 0.1255 - val_fbeta: 0.8534 - val_multi_label_acc: 0.9508
Epoch 25/100
263/263 [==============================] - 109s 414ms/step - loss: 0.1207 - accuracy: 0.0929 - fbeta: 0.8472 - multi_label_acc: 0.9512 - val_loss: 0.1226 - val_accuracy: 0.1357 - val_fbeta: 0.8540 - val_multi_label_acc: 0.9507
Epoch 26/100
263/263 [==============================] - 110s 417ms/step - loss: 0.1195 - accuracy: 0.0980 - fbeta: 0.8496 - multi_label_acc: 0.9517 - val_loss: 0.1236 - val_accuracy: 0.1230 - val_fbeta: 0.8518 - val_multi_label_acc: 0.9517
Epoch 27/100
263/263 [==============================] - 110s 417ms/step - loss: 0.1184 - accuracy: 0.0942 - fbeta: 0.8505 - multi_label_acc: 0.9523 - val_loss: 0.1233 - val_accuracy: 0.1150 - val_fbeta: 0.8538 - val_multi_label_acc: 0.9517
Epoch 28/100
263/263 [==============================] - 111s 424ms/step - loss: 0.1180 - accuracy: 0.0909 - fbeta: 0.8508 - multi_label_acc: 0.9523 - val_loss: 0.1234 - val_accuracy: 0.0726 - val_fbeta: 0.8495 - val_multi_label_acc: 0.9519
Epoch 29/100
263/263 [==============================] - 111s 422ms/step - loss: 0.1164 - accuracy: 0.0958 - fbeta: 0.8538 - multi_label_acc: 0.9530 - val_loss: 0.1228 - val_accuracy: 0.0881 - val_fbeta: 0.8565 - val_multi_label_acc: 0.9511
Epoch 30/100
263/263 [==============================] - 111s 422ms/step - loss: 0.1160 - accuracy: 0.0894 - fbeta: 0.8537 - multi_label_acc: 0.9531 - val_loss: 0.1189 - val_accuracy: 0.1099 - val_fbeta: 0.8565 - val_multi_label_acc: 0.9534
Epoch 31/100
263/263 [==============================] - 113s 431ms/step - loss: 0.1144 - accuracy: 0.0926 - fbeta: 0.8576 - multi_label_acc: 0.9539 - val_loss: 0.1229 - val_accuracy: 0.1224 - val_fbeta: 0.8658 - val_multi_label_acc: 0.9515
Epoch 32/100
263/263 [==============================] - 113s 431ms/step - loss: 0.1142 - accuracy: 0.0889 - fbeta: 0.8581 - multi_label_acc: 0.9541 - val_loss: 0.1180 - val_accuracy: 0.0857 - val_fbeta: 0.8602 - val_multi_label_acc: 0.9540
Epoch 33/100
263/263 [==============================] - 111s 422ms/step - loss: 0.1124 - accuracy: 0.0931 - fbeta: 0.8605 - multi_label_acc: 0.9547 - val_loss: 0.1160 - val_accuracy: 0.1094 - val_fbeta: 0.8646 - val_multi_label_acc: 0.9543
Epoch 34/100
263/263 [==============================] - 111s 420ms/step - loss: 0.1122 - accuracy: 0.0922 - fbeta: 0.8605 - multi_label_acc: 0.9545 - val_loss: 0.1179 - val_accuracy: 0.1006 - val_fbeta: 0.8679 - val_multi_label_acc: 0.9539
Epoch 35/100

263/263 [==============================] - 111s 424ms/step - loss: 0.1107 - accuracy: 0.0932 - fbeta: 0.8632 - multi_label_acc: 0.9555 - val_loss: 0.1177 - val_accuracy: 0.1524 - val_fbeta: 0.8640 - val_multi_label_acc: 0.9539
Epoch 36/100
263/263 [==============================] - 112s 425ms/step - loss: 0.1100 - accuracy: 0.0923 - fbeta: 0.8648 - multi_label_acc: 0.9559 - val_loss: 0.1194 - val_accuracy: 0.1239 - val_fbeta: 0.8603 - val_multi_label_acc: 0.9530
Epoch 37/100
263/263 [==============================] - 112s 426ms/step - loss: 0.1085 - accuracy: 0.0933 - fbeta: 0.8667 - multi_label_acc: 0.9563 - val_loss: 0.1141 - val_accuracy: 0.0883 - val_fbeta: 0.8704 - val_multi_label_acc: 0.9552
Epoch 38/100
263/263 [==============================] - 112s 427ms/step - loss: 0.1083 - accuracy: 0.0928 - fbeta: 0.8668 - multi_label_acc: 0.9563 - val_loss: 0.1140 - val_accuracy: 0.1100 - val_fbeta: 0.8654 - val_multi_label_acc: 0.9551
Epoch 39/100
263/263 [==============================] - 112s 426ms/step - loss: 0.1074 - accuracy: 0.0943 - fbeta: 0.8683 - multi_label_acc: 0.9568 - val_loss: 0.1189 - val_accuracy: 0.1043 - val_fbeta: 0.8692 - val_multi_label_acc: 0.9539
Epoch 40/100
263/263 [==============================] - 112s 427ms/step - loss: 0.1065 - accuracy: 0.0932 - fbeta: 0.8701 - multi_label_acc: 0.9573 - val_loss: 0.1180 - val_accuracy: 0.1314 - val_fbeta: 0.8624 - val_multi_label_acc: 0.9539
Epoch 41/100
263/263 [==============================] - 113s 428ms/step - loss: 0.1059 - accuracy: 0.0959 - fbeta: 0.8710 - multi_label_acc: 0.9574 - val_loss: 0.1162 - val_accuracy: 0.0908 - val_fbeta: 0.8663 - val_multi_label_acc: 0.9549
Epoch 42/100
263/263 [==============================] - 114s 432ms/step - loss: 0.1045 - accuracy: 0.0939 - fbeta: 0.8724 - multi_label_acc: 0.9580 - val_loss: 0.1142 - val_accuracy: 0.0990 - val_fbeta: 0.8739 - val_multi_label_acc: 0.9556
Epoch 43/100
263/263 [==============================] - 112s 426ms/step - loss: 0.1030 - accuracy: 0.0977 - fbeta: 0.8750 - multi_label_acc: 0.9588 - val_loss: 0.1161 - val_accuracy: 0.0888 - val_fbeta: 0.8649 - val_multi_label_acc: 0.9543
Epoch 44/100
263/263 [==============================] - 112s 425ms/step - loss: 0.1023 - accuracy: 0.0967 - fbeta: 0.8759 - multi_label_acc: 0.9590 - val_loss: 0.1152 - val_accuracy: 0.1150 - val_fbeta: 0.8695 - val_multi_label_acc: 0.9552
Epoch 45/100
263/263 [==============================] - 111s 424ms/step - loss: 0.1016 - accuracy: 0.0975 - fbeta: 0.8776 - multi_label_acc: 0.9594 - val_loss: 0.1124 - val_accuracy: 0.1118 - val_fbeta: 0.8749 - val_multi_label_acc: 0.9560
Epoch 46/100
263/263 [==============================] - 112s 425ms/step - loss: 0.1014 - accuracy: 0.0978 - fbeta: 0.8773 - multi_label_acc: 0.9593 - val_loss: 0.1131 - val_accuracy: 0.1252 - val_fbeta: 0.8755 - val_multi_label_acc: 0.9564
Epoch 47/100
263/263 [==============================] - 111s 422ms/step - loss: 0.0998 - accuracy: 0.1003 - fbeta: 0.8795 - multi_label_acc: 0.9600 - val_loss: 0.1188 - val_accuracy: 0.1046 - val_fbeta: 0.8660 - val_multi_label_acc: 0.9544
Epoch 48/100
263/263 [==============================] - 110s 418ms/step - loss: 0.0992 - accuracy: 0.0983 - fbeta: 0.8800 - multi_label_acc: 0.9601 - val_loss: 0.1120 - val_accuracy: 0.1148 - val_fbeta: 0.8739 - val_multi_label_acc: 0.9566
Epoch 49/100
263/263 [==============================] - 108s 411ms/step - loss: 0.0978 - accuracy: 0.1025 - fbeta: 0.8828 - multi_label_acc: 0.9610 - val_loss: 0.1157 - val_accuracy: 0.1051 - val_fbeta: 0.8669 - val_multi_label_acc: 0.9554
Epoch 50/100
263/263 [==============================] - 108s 410ms/step - loss: 0.0974 - accuracy: 0.1053 - fbeta: 0.8833 - multi_label_acc: 0.9611 - val_loss: 0.1125 - val_accuracy: 0.1229 - val_fbeta: 0.8705 - val_multi_label_acc: 0.9570
Epoch 51/100
263/263 [==============================] - 107s 406ms/step - loss: 0.0965 - accuracy: 0.1021 - fbeta: 0.8838 - multi_label_acc: 0.9612 - val_loss: 0.1110 - val_accuracy: 0.1265 - val_fbeta: 0.8751 - val_multi_label_acc: 0.9573
Epoch 52/100
263/263 [==============================] - 107s 405ms/step - loss: 0.0946 - accuracy: 0.1087 - fbeta: 0.8864 - multi_label_acc: 0.9622 - val_loss: 0.1137 - val_accuracy: 0.1127 - val_fbeta: 0.8691 - val_multi_label_acc: 0.9566
Epoch 53/100
263/263 [==============================] - 107s 408ms/step - loss: 0.0943 - accuracy: 0.1076 - fbeta: 0.8870 - multi_label_acc: 0.9622 - val_loss: 0.1144 - val_accuracy: 0.1165 - val_fbeta: 0.8718 - val_multi_label_acc: 0.9559
Epoch 54/100
263/263 [==============================] - 106s 405ms/step - loss: 0.0933 - accuracy: 0.1079 - fbeta: 0.8879 - multi_label_acc: 0.9626 - val_loss: 0.1146 - val_accuracy: 0.1300 - val_fbeta: 0.8740 - val_multi_label_acc: 0.9558
Epoch 55/100
263/263 [==============================] - 107s 406ms/step - loss: 0.0923 - accuracy: 0.1116 - fbeta: 0.8890 - multi_label_acc: 0.9630 - val_loss: 0.1147 - val_accuracy: 0.0947 - val_fbeta: 0.8748 - val_multi_label_acc: 0.9553
Epoch 56/100
263/263 [==============================] - 108s 410ms/step - loss: 0.0910 - accuracy: 0.1103 - fbeta: 0.8907 - multi_label_acc: 0.9634 - val_loss: 0.1140 - val_accuracy: 0.1395 - val_fbeta: 0.8760 - val_multi_label_acc: 0.9564
Epoch 57/100
263/263 [==============================] - 107s 406ms/step - loss: 0.0895 - accuracy: 0.1161 - fbeta: 0.8927 - multi_label_acc: 0.9640 - val_loss: 0.1163 - val_accuracy: 0.1242 - val_fbeta: 0.8754 - val_multi_label_acc: 0.9549
Epoch 58/100
263/263 [==============================] - 106s 404ms/step - loss: 0.0889 - accuracy: 0.1182 - fbeta: 0.8932 - multi_label_acc: 0.9642 - val_loss: 0.1146 - val_accuracy: 0.1239 - val_fbeta: 0.8763 - val_multi_label_acc: 0.9560
Epoch 59/100
263/263 [==============================] - 108s 410ms/step - loss: 0.0878 - accuracy: 0.1156 - fbeta: 0.8942 - multi_label_acc: 0.9646 - val_loss: 0.1168 - val_accuracy: 0.1240 - val_fbeta: 0.8758 - val_multi_label_acc: 0.9552
Epoch 60/100
263/263 [==============================] - 107s 408ms/step - loss: 0.0867 - accuracy: 0.1248 - fbeta: 0.8957 - multi_label_acc: 0.9651 - val_loss: 0.1213 - val_accuracy: 0.1285 - val_fbeta: 0.8676 - val_multi_label_acc: 0.9552
Epoch 61/100
263/263 [==============================] - 108s 409ms/step - loss: 0.0851 - accuracy: 0.1185 - fbeta: 0.8980 - multi_label_acc: 0.9659 - val_loss: 0.1162 - val_accuracy: 0.1403 - val_fbeta: 0.8758 - val_multi_label_acc: 0.9555
Epoch 62/100
263/263 [==============================] - 107s 405ms/step - loss: 0.0844 - accuracy: 0.1233 - fbeta: 0.8983 - multi_label_acc: 0.9661 - val_loss: 0.1165 - val_accuracy: 0.1178 - val_fbeta: 0.8741 - val_multi_label_acc: 0.9560
Epoch 63/100
263/263 [==============================] - 107s 408ms/step - loss: 0.0828 - accuracy: 0.1284 - fbeta: 0.9000 - multi_label_acc: 0.9668 - val_loss: 0.1211 - val_accuracy: 0.1565 - val_fbeta: 0.8742 - val_multi_label_acc: 0.9548
Epoch 64/100
263/263 [==============================] - 107s 409ms/step - loss: 0.0824 - accuracy: 0.1351 - fbeta: 0.9007 - multi_label_acc: 0.9670 - val_loss: 0.1182 - val_accuracy: 0.1604 - val_fbeta: 0.8733 - val_multi_label_acc: 0.9555
Epoch 65/100
263/263 [==============================] - 107s 408ms/step - loss: 0.0800 - accuracy: 0.1412 - fbeta: 0.9044 - multi_label_acc: 0.9680 - val_loss: 0.1214 - val_accuracy: 0.1744 - val_fbeta: 0.8704 - val_multi_label_acc: 0.9549
Epoch 66/100
263/263 [==============================] - 106s 402ms/step - loss: 0.0793 - accuracy: 0.1443 - fbeta: 0.9055 - multi_label_acc: 0.9683 - val_loss: 0.1178 - val_accuracy: 0.1426 - val_fbeta: 0.8749 - val_multi_label_acc: 0.9559
Epoch 67/100
263/263 [==============================] - 107s 407ms/step - loss: 0.0772 - accuracy: 0.1418 - fbeta: 0.9082 - multi_label_acc: 0.9694 - val_loss: 0.1203 - val_accuracy: 0.1540 - val_fbeta: 0.8764 - val_multi_label_acc: 0.9564
Epoch 68/100
263/263 [==============================] - 107s 405ms/step - loss: 0.0768 - accuracy: 0.1510 - fbeta: 0.9073 - multi_label_acc: 0.9692 - val_loss: 0.1298 - val_accuracy: 0.1710 - val_fbeta: 0.8703 - val_multi_label_acc: 0.9541
Epoch 69/100

263/263 [==============================] - 107s 406ms/step - loss: 0.0747 - accuracy: 0.1625 - fbeta: 0.9108 - multi_label_acc: 0.9703 - val_loss: 0.1234 - val_accuracy: 0.2476 - val_fbeta: 0.8772 - val_multi_label_acc: 0.9556
Epoch 70/100
263/263 [==============================] - 108s 409ms/step - loss: 0.0741 - accuracy: 0.1555 - fbeta: 0.9107 - multi_label_acc: 0.9702 - val_loss: 0.1254 - val_accuracy: 0.1977 - val_fbeta: 0.8715 - val_multi_label_acc: 0.9545
Epoch 71/100
263/263 [==============================] - 106s 404ms/step - loss: 0.0717 - accuracy: 0.1610 - fbeta: 0.9139 - multi_label_acc: 0.9715 - val_loss: 0.1269 - val_accuracy: 0.1748 - val_fbeta: 0.8777 - val_multi_label_acc: 0.9546
Epoch 72/100
263/263 [==============================] - 107s 407ms/step - loss: 0.0711 - accuracy: 0.1635 - fbeta: 0.9140 - multi_label_acc: 0.9716 - val_loss: 0.1307 - val_accuracy: 0.3873 - val_fbeta: 0.8707 - val_multi_label_acc: 0.9547
Epoch 73/100
263/263 [==============================] - 107s 408ms/step - loss: 0.0691 - accuracy: 0.1825 - fbeta: 0.9170 - multi_label_acc: 0.9725 - val_loss: 0.1329 - val_accuracy: 0.3522 - val_fbeta: 0.8734 - val_multi_label_acc: 0.9535
Epoch 74/100
263/263 [==============================] - 107s 407ms/step - loss: 0.0673 - accuracy: 0.1705 - fbeta: 0.9190 - multi_label_acc: 0.9731 - val_loss: 0.1371 - val_accuracy: 0.1721 - val_fbeta: 0.8677 - val_multi_label_acc: 0.9544
Epoch 75/100
263/263 [==============================] - 107s 406ms/step - loss: 0.0662 - accuracy: 0.1733 - fbeta: 0.9200 - multi_label_acc: 0.9736 - val_loss: 0.1347 - val_accuracy: 0.2128 - val_fbeta: 0.8738 - val_multi_label_acc: 0.9530
Epoch 76/100
263/263 [==============================] - 106s 404ms/step - loss: 0.0658 - accuracy: 0.1886 - fbeta: 0.9207 - multi_label_acc: 0.9739 - val_loss: 0.1338 - val_accuracy: 0.3126 - val_fbeta: 0.8706 - val_multi_label_acc: 0.9544
Epoch 77/100
263/263 [==============================] - 107s 407ms/step - loss: 0.0632 - accuracy: 0.2102 - fbeta: 0.9239 - multi_label_acc: 0.9749 - val_loss: 0.1337 - val_accuracy: 0.2395 - val_fbeta: 0.8755 - val_multi_label_acc: 0.9527
Epoch 78/100
263/263 [==============================] - 106s 401ms/step - loss: 0.0623 - accuracy: 0.2078 - fbeta: 0.9242 - multi_label_acc: 0.9752 - val_loss: 0.1379 - val_accuracy: 0.3029 - val_fbeta: 0.8767 - val_multi_label_acc: 0.9551
Epoch 79/100
263/263 [==============================] - 108s 409ms/step - loss: 0.0606 - accuracy: 0.2252 - fbeta: 0.9264 - multi_label_acc: 0.9759 - val_loss: 0.1421 - val_accuracy: 0.3660 - val_fbeta: 0.8659 - val_multi_label_acc: 0.9531
Epoch 80/100
263/263 [==============================] - 107s 407ms/step - loss: 0.0593 - accuracy: 0.2542 - fbeta: 0.9281 - multi_label_acc: 0.9764 - val_loss: 0.1396 - val_accuracy: 0.3032 - val_fbeta: 0.8725 - val_multi_label_acc: 0.9542
Epoch 81/100
263/263 [==============================] - 106s 404ms/step - loss: 0.0579 - accuracy: 0.2809 - fbeta: 0.9291 - multi_label_acc: 0.9771 - val_loss: 0.1461 - val_accuracy: 0.3721 - val_fbeta: 0.8767 - val_multi_label_acc: 0.9529
Epoch 82/100
263/263 [==============================] - 108s 410ms/step - loss: 0.0560 - accuracy: 0.2900 - fbeta: 0.9317 - multi_label_acc: 0.9779 - val_loss: 0.1471 - val_accuracy: 0.2915 - val_fbeta: 0.8738 - val_multi_label_acc: 0.9536
Epoch 83/100
263/263 [==============================] - 108s 409ms/step - loss: 0.0549 - accuracy: 0.2981 - fbeta: 0.9325 - multi_label_acc: 0.9785 - val_loss: 0.1508 - val_accuracy: 0.3154 - val_fbeta: 0.8727 - val_multi_label_acc: 0.9541
Epoch 84/100
263/263 [==============================] - 108s 410ms/step - loss: 0.0538 - accuracy: 0.2929 - fbeta: 0.9348 - multi_label_acc: 0.9788 - val_loss: 0.1463 - val_accuracy: 0.3785 - val_fbeta: 0.8701 - val_multi_label_acc: 0.9540
Epoch 85/100
263/263 [==============================] - 109s 415ms/step - loss: 0.0530 - accuracy: 0.2795 - fbeta: 0.9358 - multi_label_acc: 0.9794 - val_loss: 0.1506 - val_accuracy: 0.3322 - val_fbeta: 0.8739 - val_multi_label_acc: 0.9526
Epoch 86/100
263/263 [==============================] - 110s 416ms/step - loss: 0.0500 - accuracy: 0.3302 - fbeta: 0.9389 - multi_label_acc: 0.9803 - val_loss: 0.1566 - val_accuracy: 0.3818 - val_fbeta: 0.8713 - val_multi_label_acc: 0.9517
Epoch 87/100
263/263 [==============================] - 109s 414ms/step - loss: 0.0488 - accuracy: 0.3196 - fbeta: 0.9407 - multi_label_acc: 0.9809 - val_loss: 0.1610 - val_accuracy: 0.4258 - val_fbeta: 0.8684 - val_multi_label_acc: 0.9533
Epoch 88/100
263/263 [==============================] - 109s 414ms/step - loss: 0.0484 - accuracy: 0.3199 - fbeta: 0.9404 - multi_label_acc: 0.9811 - val_loss: 0.1621 - val_accuracy: 0.4232 - val_fbeta: 0.8700 - val_multi_label_acc: 0.9530
Epoch 89/100
263/263 [==============================] - 111s 423ms/step - loss: 0.0469 - accuracy: 0.2928 - fbeta: 0.9426 - multi_label_acc: 0.9817 - val_loss: 0.1614 - val_accuracy: 0.3728 - val_fbeta: 0.8671 - val_multi_label_acc: 0.9511
Epoch 90/100
263/263 [==============================] - 112s 426ms/step - loss: 0.0464 - accuracy: 0.3211 - fbeta: 0.9434 - multi_label_acc: 0.9821 - val_loss: 0.1637 - val_accuracy: 0.3535 - val_fbeta: 0.8681 - val_multi_label_acc: 0.9533
Epoch 91/100
263/263 [==============================] - 112s 426ms/step - loss: 0.0443 - accuracy: 0.3004 - fbeta: 0.9456 - multi_label_acc: 0.9830 - val_loss: 0.1758 - val_accuracy: 0.4317 - val_fbeta: 0.8717 - val_multi_label_acc: 0.9540
Epoch 92/100
263/263 [==============================] - 112s 424ms/step - loss: 0.0429 - accuracy: 0.3445 - fbeta: 0.9478 - multi_label_acc: 0.9836 - val_loss: 0.1789 - val_accuracy: 0.3592 - val_fbeta: 0.8691 - val_multi_label_acc: 0.9523
Epoch 93/100
263/263 [==============================] - 113s 429ms/step - loss: 0.0431 - accuracy: 0.3136 - fbeta: 0.9472 - multi_label_acc: 0.9834 - val_loss: 0.1702 - val_accuracy: 0.3581 - val_fbeta: 0.8671 - val_multi_label_acc: 0.9524
Epoch 94/100
263/263 [==============================] - 112s 425ms/step - loss: 0.0410 - accuracy: 0.3559 - fbeta: 0.9495 - multi_label_acc: 0.9842 - val_loss: 0.1794 - val_accuracy: 0.4156 - val_fbeta: 0.8733 - val_multi_label_acc: 0.9524
Epoch 95/100
263/263 [==============================] - 113s 430ms/step - loss: 0.0398 - accuracy: 0.3554 - fbeta: 0.9509 - multi_label_acc: 0.9848 - val_loss: 0.1769 - val_accuracy: 0.4182 - val_fbeta: 0.8724 - val_multi_label_acc: 0.9536
Epoch 96/100
263/263 [==============================] - 114s 432ms/step - loss: 0.0385 - accuracy: 0.3667 - fbeta: 0.9525 - multi_label_acc: 0.9853 - val_loss: 0.1946 - val_accuracy: 0.4268 - val_fbeta: 0.8716 - val_multi_label_acc: 0.9537
Epoch 97/100
263/263 [==============================] - 113s 430ms/step - loss: 0.0392 - accuracy: 0.3598 - fbeta: 0.9519 - multi_label_acc: 0.9852 - val_loss: 0.1800 - val_accuracy: 0.4060 - val_fbeta: 0.8697 - val_multi_label_acc: 0.9534
Epoch 98/100
263/263 [==============================] - 113s 432ms/step - loss: 0.0359 - accuracy: 0.3571 - fbeta: 0.9549 - multi_label_acc: 0.9864 - val_loss: 0.1870 - val_accuracy: 0.3828 - val_fbeta: 0.8714 - val_multi_label_acc: 0.9531
Epoch 99/100
263/263 [==============================] - 113s 430ms/step - loss: 0.0364 - accuracy: 0.3584 - fbeta: 0.9550 - multi_label_acc: 0.9863 - val_loss: 0.1916 - val_accuracy: 0.4599 - val_fbeta: 0.8716 - val_multi_label_acc: 0.9522
Epoch 100/100
263/263 [==============================] - 113s 431ms/step - loss: 0.0351 - accuracy: 0.3689 - fbeta: 0.9564 - multi_label_acc: 0.9867 - val_loss: 0.1893 - val_accuracy: 0.3446 - val_fbeta: 0.8720 - val_multi_label_acc: 0.9519

In [ ]:
# Importing a module that would help clear irrelevancies and free space
import gc
gc.collect()

### Model Validation

In [ ]:
train_pred = model.predict(train_gen, steps = train_step_size)

print('Actual: {}'.format(train_class.tags[100]))
print('Prediction: {}'.format(np.argmax(train_pred[100])))

### Model Test Preprocessing

In [ ]:
# selecting the first 40669 'image_name'(s) from the submission_sample dataframe to generate image data from 
# test.jpg folder
test_df = test_class.reset_index(drop = True).drop(columns=['clear', 'road', 'primary', 'agriculture', 'water'])
test_df = test_df[:40669]
test_df.head()

   image_name                                  tags
0  test_0.jpg  primary clear agriculture road water
1  test_1.jpg  primary clear agriculture road water
2  test_2.jpg  primary clear agriculture road water
3  test_3.jpg  primary clear agriculture road water
4  test_4.jpg  primary clear agriculture road water

In [ ]:
test_df.shape

(40669, 2)

### Data Augmentation for Test set

In [ ]:
# initializing an image data generator object for the first 40669 images in the sample submission dataframe
test_image_gen = ImageDataGenerator(rescale=1/255)

# generating the image data for the first 40669 images in the sample submission dataframe
test_gen = test_image_gen.flow_from_dataframe(dataframe=test_df, \
            directory='../input/planets-dataset/planet/planet/test-jpg/', x_col='image_name', y_col=None, \
            batch_size=131, shuffle=False, class_mode=None, target_size=(128, 128))

# setting the step size for the testing set for the first 40669 images in the sample submission dataframe
test_step_size = int(np.ceil(test_gen.samples / test_gen.batch_size))

Found 40669 validated image filenames.

### Model Application

In [ ]:
add_model = define_model() # building a sequential model for testing

#loading in the weights of the trained model
add_model.load_weights('model_resp.hdf5')

In [ ]:
test_gen.reset() # reseting the generator to be sure of avoiding shuffling
test_pred = add_model.predict(test_gen, steps=test_step_size, verbose=1) # predicts the first 40669 images in the 
                                                                         # sample submission dataframe

print('Actual: {}'.format(test_class.tags[250]))
print('Prediction: {}'.format(np.argmax(test_pred[250])))

311/311 [==============================] - 105s 337ms/step
311/311 [==============================] - 99s 317ms/step - loss: 0.0000e+00 - accuracy: 0.0000e+00 - fbeta: 0.0000e+00 - multi_label_acc: 0.0000e+00

ValueError: too many values to unpack (expected 2)

In [ ]:
test_file_names = test_gen.filenames # storing the filenames (images names) of the first 40669 images names in 
                                       # the sample submission dataframe as ordered in the prediction as a 
                                       # variable
        
# converting the predictions of the first 40669 to tag names
pred_tags = pd.DataFrame(test_pred)
pred_tags = pred_tags.apply(lambda x: ' '.join(np.array(unique_train_tag)[x > 0.5]), axis=1)

# converting the predictions of the first 40669 to a dataframe
result = pd.DataFrame({'image_name': test_file_names, 'tags': pred_tags})
result.head()

   image_name                   tags
0  test_0.jpg          clear primary
1  test_1.jpg          clear primary
2  test_2.jpg  partly_cloudy primary
3  test_3.jpg          clear primary
4  test_4.jpg                 cloudy

In [ ]:
# selecting the remaining 'image_name'(s) from the submission_sample dataframe to generate image data from 
# test-additional.jpg folder
test_add_df = test_class.iloc[40669:]['image_name'].reset_index().drop(columns='index')
test_add_df.head()

      image_name
0     file_0.jpg
1     file_1.jpg
2    file_10.jpg
3   file_100.jpg
4  file_1000.jpg

In [ ]:
# initializing an image data generator object for the remaining images in the sample submission dataframe
test_add_image_gen = ImageDataGenerator(rescale=1/255)

# generating the image data for the remaining images in the sample submission dataframe
test_add_gen = test_add_image_gen.flow_from_dataframe(dataframe=test_add_df, \
            directory='../input/planets-dataset/test-jpg-additional/test-jpg-additional/', x_col='image_name', \
            y_col=None, batch_size=131, shuffle=False, class_mode=None, target_size=(128, 128))

# setting the step size for the testing set for the remaining images in the sample submission dataframe
test_add_step_size = int(np.ceil(test_add_gen.samples / test_add_gen.batch_size))

Found 20522 validated image filenames.

In [ ]:
test_add_gen.reset() # reseting the generator to be sure of avoiding shuffling
test_add_pred = add_model.predict(test_add_gen, steps=test_add_step_size, verbose=1) # predicts the remaining images in the 
                                                                    # sample submission dataframe

157/157 [==============================] - 78s 499ms/step

### Compiling Test Images Predictions

In [ ]:
test_add_file_names = test_add_gen.filenames # storing the filenames (images names) of the remaining images names in 
                                       # the sample submission dataframe as ordered in the prediction as a 
                                       # variable
        
# converting the predictions of the remaining images to tag names
add_pred_tags = pd.DataFrame(test_add_pred)
add_pred_tags = add_pred_tags.apply(lambda x: ' '.join(np.array(unique_train_tag)[x > 0.5]), axis=1)

# converting the predictions of the remaining to a dataframe
add_result = pd.DataFrame({'image_name': test_add_file_names, 'tags': add_pred_tags})
add_result.head()

      image_name                               tags
0     file_0.jpg                      clear primary
1     file_1.jpg  agriculture partly_cloudy primary
2    file_10.jpg      haze agriculture road primary
3   file_100.jpg          agriculture clear primary
4  file_1000.jpg                      clear primary

In [ ]:
result_col = pd.concat([result, add_result]) # concatenate the predictions of the test.jpg and 
                                             # test-additional.jpg into a single dataframe
    
result_col = result_col.reset_index(drop = True) # reseting the index of the dataframe so it 
                                                                # matches that of sample submission datafarme

print(result_col.shape)
result_col.head()

(61191, 2)

   image_name                   tags
0  test_0.jpg          clear primary
1  test_1.jpg          clear primary
2  test_2.jpg  partly_cloudy primary
3  test_3.jpg          clear primary
4  test_4.jpg                 cloudy

In [ ]:
result_col['image_name'] = result_col['image_name'].apply(lambda x: x.replace('.jpg', ''))
result_col.head()

  image_name                   tags
0     test_0          clear primary
1     test_1          clear primary
2     test_2  partly_cloudy primary
3     test_3          clear primary
4     test_4                 cloudy

In [ ]:
sample_submission = pd.read_csv('../input/planets-dataset/planet/planet/sample_submission.csv')
sample_submission.head()

  image_name                                  tags
0     test_0  primary clear agriculture road water
1     test_1  primary clear agriculture road water
2     test_2  primary clear agriculture road water
3     test_3  primary clear agriculture road water
4     test_4  primary clear agriculture road water

In [ ]:
# confirming that the predicted images are ordered as in sample submission dataframe
assert sum(sample_submission['image_name'] == result_col['image_name']) == 61191

In [ ]:
result_col.to_csv('./Result_Submission.csv', index=False) # saving the predictions